@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #020617;
}

::selection {
  background-color: #22c55e;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #292524;
}

::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 10px;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-lora);
}
